.container{
    margin: 1rem;
    padding: 1rem;
    width: 500px;
}

.resultHeader{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    word-spacing: 2px;
    font-size: 50px;
}

.result{
    display: flex;
    justify-content: flex-end;
    font-weight: bolder;
}

.buttonsContainer{
    display: flex;
    padding: 4px;
    background-color: rgba(128, 128, 128, 0.176);
}


.numsContainer{
    padding: 4px;
    display: flex;
    max-width: 400px;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.operatorButtons{
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
}

.lastRow{
    display: flex;
    align-items: center;
    justify-content: space-around;
}